.BookPageWrapper{
    min-height: 500px;
    padding: 6vh;
    margin:  7rem 7rem 50px 7rem;
    gap: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.BookPageContainer{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.BookpageContainer1{
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}

.BookPageInformations{
    width: auto;
}

.BookPageWrapperDescription{
    height: auto;
    padding: 6vh;
    margin: 50px 7rem 50px 7rem;
    gap: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.BookPageWrapperDescription b{
    font-size: 26px;
}

.BookPageWrapperDescription p{
    font-size: 16px;
    padding-right: 50px;
}


.BookPageCover img{        
    width: 250px;
    height: 350px;
    object-fit: contain;
}

.BookPageWrapper h3{
    font-size: 24px;
}

p .description{
    min-height: 200px;
}

.BookPageButton{
    background-color: #4867c3;
    border: none;
    font-size: 25px;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: all 0.2s ease;
}

.BookPageButton:hover{
    background-color: #3451a8;
}

.BookPageButton:active{
    background-color: #193485;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.spinner {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #3498db; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}